.enhanced-multi-text-carousel {
    width: 100%;
    text-align: center;
    height: 50vh;
  }
  
  .carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .carousel-arrow {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;
    color: white;
  }
  
  .carousel-arrow.left {
    left: 10px;
  }
  
  .carousel-arrow.right {
    right: 10px;
  }
  
  .carousel-text {
    opacity: 0;
    animation: slide-in 0.5s ease forwards;
  }
  

  .review-text-container {
    max-height: 200px; /* Adjust the value as needed */
    overflow: auto;
  }

  
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  